.logo{
    width: 150px;
    margin-left: 20px;
}
header{
    display: flex;
    justify-content: space-between;
    background-color: #0077cc;
    align-items: center;
    height: 90px;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 98;
}
.nav{
    width: 30%;
    margin-right: 20px;
}
nav ul{
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    transition: all ease 1.5s;
}
nav ul li{
    transition: all ease 1.5s;
    color: #535353;
    cursor: pointer;
    }
nav ul li:hover{
font-size: 17px;
transition: all ease 1s;
color: #F1C40F;
}
nav ul li a:hover{
    font-size: 17px;
    transition: all ease 1s;
    color: #F1C40F;
    }
nav ul li a{
    text-decoration: none;
    color: #535353;
}
.carousel{
    width: 50%;
    margin-top: 30px;
}
.informacion{
    height: 50vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.carousel-caption h5{
    text-shadow: 1px 0px 10px rgba(0,0,0,1);
}
.carousel-caption p{
    text-shadow: 1px 0px 10px rgba(0,0,0,1);
    background-color: #333333;
}
h1{
    font-family: "source-sans-3", sans-serif;
font-weight: 400;
font-style: normal;
margin-top: 50px;
}
.datos{
    background-image: url(./img/pexels-alena-darmel-7742815.jpg);
    background-color: #0077cc;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-position: center;
    background-size:cover;
    background-attachment: fixed;
    text-align: center;
}
.datos h3{
    margin-bottom:50px ;
    color: white;
    text-shadow: 3px 1px 5px rgba(0,0,0,0.63);
}
.datos__container{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}
.datos__item{
    margin-left: 5px;
    margin-right: 5px;
}
.datos__item h4{
   font-size: 40px;
   color:#2ecc71;
   text-shadow: 3px 1px 5px rgba(0,0,0,0.63);
}
.datos__item h5{
    text-shadow: 3px 1px 5px rgba(0,0,0,0.63);
    color: white;
 }
 .premios{
    background-color: #0077cc;
    display: flex;
    flex-direction: row;
    height: 500px;
    justify-content: space-evenly;
    align-items: center;
 }
 .premios__item{
    background-color: #b8ddf8;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border: solid;
    border-radius: 5px;
    text-align: justify;
    padding: 20px;
    width: 300px;
    height: 450px;
 }
 .premios__item img{
    filter: drop-shadow(2px 2px 2px black);
    width: 150px;
    margin-top: 5px;
    margin-bottom: 5px;
 }
 .premios__item p{
    margin-top: 10px;
    height: 30%;
 }
 footer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #535353;
    padding-bottom: 20px;
    padding-bottom: 20px;
 }
 .logo__footer{
    width: 150px;
    filter:grayscale(100);
    margin-top: 30px;
 }
 .redes__contain svg{
    width: 30px;
 }
 .redes__contain{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 40%;
    margin-top: 20px;
    margin-bottom: 20px;
 }
 .loading{
    display: none;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 99;
    background-color: #0077cc;
 }
 .bienvenida{
    color: white;
 }
 .bienvenida:hover{
    font-size: 16px;
    color: white;
    cursor:auto;
 }
 .header__campus{
    justify-content: space-around;
 }
 .header__campus h6{
    text-align: center;
 }
 .campus__clases{
    height: 40vw;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
 }
 .tablaClases{
    color: black;
    text-align: center;
    flex-direction: column;
 }
 td{
    padding-left: 5px;
    padding-right: 5px;
    text-align: justify;
    background-color: #b8ddf8;
    border: solid gray;
 }
 .tablaClases button:hover{
    color:black;
    background-color: #F1C40F;
 }
 .campus__charlas{
    height: 20vw;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
 }
 .campus__clases__docente{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 50px;
 }
 .campus__clases__docente h2{
    margin-top: 100px;
 }
 .item__dia{
    margin-top: 20px;
    width: 100%;
    margin-left: 200px;
 }
 .card__container{
    display: flex;
    flex-direction: row;
    width: 100%;
    flex-wrap: wrap;
    justify-content: flex-start;
 }
 .card{
    padding: 20px;
    margin-right: 10px;
 }
 .menu__icon{
    display: none;
 }
 .menu__desplegable{
    display: none;
 }
 .menu__activo{
display: flex;
position: fixed;
justify-content: space-around;
align-items: center;
z-index: 99;
top: 0;
height: 100vh;
width: 100%;
background-color:#2ecc71;
text-align: center;
 }
 .menu__activo ul{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 20%;
    text-align: center;
    list-style: none;
    padding: 0;
    
 }
 .menu__activo ul li{
    margin: 0;
    color: white;
 }
 
 
 @media only screen and (min-width: 600px) and (max-width: 1024px) {
    .nav{
        width: 50%;
    }
    .informacion{
        height: 140vw;
    }
    .carousel{
        width: 95%;
        margin-top: 30px;
    }
    .campus__clases{
        height: 90vw;
        
     }
     .nav__campus{
display: flex;
justify-content: flex-end;
     }
}

@media only screen and (max-width: 599px) {
.nav{
    display: none;
}
.menu__icon{
    display: block;
    margin-right: 20px;
}
.informacion{
    height: 100vh;
    text-align: center;
}
.carousel{
    width: 100%;
    margin-top: 30px;
}
.datos__container{
    flex-direction: column;
}
.premios{
    flex-wrap: wrap;
    height: min-content;
    padding-top: 20px;
    padding-bottom: 20px;
}
.premios__item{
    margin-top: 5px;
    margin-bottom: 5px;
}
footer{
    text-align: center;
}
.logo__footer{
    align-content: center;
    text-align: center;
}
.campus__clases{
    height: max-content;
    padding-top: 80px;
    text-align: center;
}

table{
    width: 100%;
}

table tr{
    display: flex;
    flex-direction: column;
    border: solid gray;
    padding: 1em;
    margin-bottom: 1em;
}
td{
    padding-left: 5px;
    padding-right: 5px;
    text-align: justify;
    background-color: #b8ddf8;
    border: none;
 }
 table thead{
    display: none;
 }

 td[data-titulo]{
    display: flex ;
 }
 td[data-titulo]::before{
    content: attr(data-titulo) ;
    width: 80px;
    text-transform: uppercase;
    margin-right: 20px;
 }
 .campus__charlas{
    padding-bottom: 20px;
 }
 .item__dia{
    margin-left: 0;
 }
 .item__dia h5{
    text-align: center;
 }
 .card__container{
    justify-content: center;
 }
 .card{
    margin-top: 10px;
 }

}